<div class="hold-transition text-center">
  <div class="col-sm-12">
    <div class="login-logo">
      <a routerLink="/login"><b>Error Occurred - {{errObj.code}}</b></a>
    </div>
    <h3>{{errObj.msg}}</h3>
    <div>
      <i class="fa fa-frown-o fa-4x"></i>
    </div>
    <div class="text-center">
      <a routerLink="/" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Back To Main Site</a>
      <button (click)="clearAndStartNewSession()" class="btn btn-primary">
        <i class="fa fa-circle-o-notch"></i> Invalidate Session
      </button>
    </div>
  </div>
</div>
