<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <li mk-dropdown class="list" [isWrapper]="false" class="user user-menu">
      <mk-dropdown-toggle>
        <a #toggleElement class="dropdown-toggle pointer">
          <span class="fa fa-user"></span>
          <span class="hidden-xs">{{userName}} </span>
          <span class="fa fa-caret-down"></span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu>
        <li><a class="pointer"><i class="fa fa-user"></i> Profile</a></li>
        <li><a class="pointer" (click)="logout()"><i class="fa fa-sign-out"></i>Signout</a></li>
      </mk-dropdown-menu>
    </li>
  </ul>
</div>
