<section class="content-header">
  <h4>
    <i class="fa fa-dashboard"></i> Dashboard
  </h4>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4">
        <p-card header="Basic Event" styleClass="bg-aqua">
          <div class="">
            <div class="row">
              <div class="col-md-6">
                <p>Today Count: 10</p>
                <p>Total Count: 100</p>
              </div>
              <div class="col-md-6">
                <p>Start Date: 12-01-2020</p>
                <p>End Date: 13-01-2020</p>
              </div>
            </div>
          </div>
          <p-footer>
            <button class="btn btn-xs btn-info btn-block">More Info <i class="fa fa-arrow-circle-right"></i></button>
          </p-footer>
        </p-card>
      </div>
      <div class="col-lg-4">
        <p-card header="Basic Event" styleClass="bg-green">
          <div class="">
            <div class="row">
              <div class="col-md-6">
                <p>Today Count: 10</p>
                <p>Total Count: 100</p>
              </div>
              <div class="col-md-6">
                <p>Start Date: 12-01-2020</p>
                <p>End Date: 13-01-2020</p>
              </div>
            </div>
          </div>
          <p-footer>
            <button class="btn btn-xs btn-success btn-block">More Info <i class="fa fa-arrow-circle-right"></i></button>
          </p-footer>
        </p-card>
      </div>
      <div class="col-lg-4">
        <p-card header="Basic Event" styleClass="bg-yellow">
          <div class="">
            <div class="row">
              <div class="col-md-6">
                <p>Today Count: 10</p>
                <p>Total Count: 100</p>
              </div>
              <div class="col-md-6">
                <p>Start Date: 12-01-2020</p>
                <p>End Date: 13-01-2020</p>
              </div>
            </div>
          </div>
          <p-footer>
            <button class="btn btn-xs btn-warning btn-block">More Info <i class="fa fa-arrow-circle-right"></i></button>
          </p-footer>
        </p-card>
      </div>
    </div>
  </div>
</section>
